<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Modulo 1</ion-title>
  </ion-toolbar>
</ion-header> 
<app-menu></app-menu>
<ion-content>
  <ion-button (click)="ler()">Ler Câmera</ion-button>
  <ion-item *ngIf="texto!=''">
    Texto lido: {{texto}}
  </ion-item>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navc.back()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>