
<app-menu></app-menu>
<ion-content class="login">
    
        <div align="center">
            <br>
            <br>
            <img class="profile-picture" src="../../assets/images/logo.png" height="35%"  width="70%" />    
        </div>

        <ion-list inset> 
            <ion-item>
                <ion-label floating><ion-icon name="contact" ></ion-icon></ion-label>
                <ion-input type="text" [(ngModel)]="email" placeholder="Usuário"></ion-input>
            </ion-item>
    
            <ion-item>
                <ion-label floating><ion-icon name="lock" ></ion-icon></ion-label>
                <ion-input type="password" [(ngModel)]="senha" placeholder="Senha"></ion-input>
            </ion-item>
            <br>
            <br>
            <ion-button expand="full" color="warning" block (click)="logar()">Logar</ion-button>
            <ion-button expand="full" color="medium" block>Registrar</ion-button> 
            <ion-button expand="full" color="medium" block>Recuperar Senha</ion-button>
            <ion-button expand="full" block small>Logar Com Facebook</ion-button>
            <ion-button expand="full" color="danger" block>Logar Com Google</ion-button>
            <ion-button expand="full" color="secondary" block>Logar Com Twitter</ion-button>
        </ion-list>
    
</ion-content>