.modulo-item {
    padding:10px;
}

.modulo-item .inner{
   color:rgb(112, 110, 110);
    border:1px solid rgb(201, 199, 199);
    background-color: #ffffff;
    border-radius: 12px;  
    padding:5px;
}

.modulo-item .inner:hover{    
    background-color: #e2e0e0;
    box-shadow:2px 2px 3px #acabab ;
}   

.modulo-icon {
    text-align: center;
    margin-top:10px;
    margin-bottom:10px;
}

.modulo-title { 
    text-align: center;
}

ion-icon{
    font-size:15vw;
}